:root {
  --strava-orange: #fc4c02;
}

html {
  min-height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.Athlete {
  text-align: center;
  margin: 1em 0;
}
.Athlete img {
  border-radius: 50%;
  border: 3px solid var(--strava-orange);
}
.Athlete .ID {
  color: var(--strava-orange);
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  overflow-y: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table th {
  color: var(--strava-orange);
}
table {
  text-align: left;
}
table tr {
  vertical-align: top;
}
table .Distance,
table .Elevation,
table .Time {
  text-align: right;
}

.LinkOut img {
  position: relative;
  transition: 0.25s;
  left: 0;
}
.LinkOut:hover img {
  left: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, footer {
  background-color: var(--strava-orange);
  color: white;
  padding: 0.5em 0;
  position: relative;
  overflow-x: hidden;
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
}

header .LoadBar {
  background-color: var(--strava-orange);
  position: absolute;
  bottom: 0;
  border-right: 100vw solid white;
  height: 5px;
}

.MetricSwitch {
  background-color: white;
  color: var(--strava-orange);
  font-weight: bolder;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
}
.MetricSwitch:hover {
  opacity: 0.75;
}
