:root {
  --strava-orange: #fc4c02;
}

html {
  min-height: 100%;
}

body {

}

.App {

  min-height: 100vh;
}

.Athlete {
  text-align: center;
  margin: 1em 0;
}
.Athlete img {
  border-radius: 50%;
  border: 3px solid var(--strava-orange);
}
.Athlete .ID {
  color: var(--strava-orange);
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table th {
  color: var(--strava-orange);
  text-align: left;
}
table tr {
  vertical-align: top;
}

.LinkOut img {
  position: relative;
  transition: 0.25s;
  left: 0;
}
.LinkOut:hover img {
  left: 3px;
}

/* header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, footer {
  background-color: var(--strava-orange);
  color: white;
  padding: 0.5em 0;
  position: relative;
  overflow-x: hidden;
  text-align: center;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}


header .LoadBar {
  background-color: var(--strava-orange);
  position: absolute;
  /* top: 100%; */
  bottom: 0;
  border-right: 100vw solid white;

  height: 5px;
  /* margin-bottom: 20px; */
}
